<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="map_file" default="$(find tsuten_navigation)/map/field.yaml" />
  <arg name="move_base_config_dir" />
  <arg name="wheel_radius" />
  <arg name="wheel_vels_topic" />

  <include file="$(find tsuten_description)/launch/spawn_robot.launch" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node name="fake_localization" pkg="fake_localization" type="fake_localization" output="screen">
    <remap from="base_pose_ground_truth" to="odom" />
  </node>

  <node name="move_base" pkg="move_base" type="move_base" output="screen" clear_params="true">
    <rosparam file="$(arg move_base_config_dir)/move_base_params.yaml" command="load" />
    <rosparam file="$(arg move_base_config_dir)/costmap_common_params.yaml" command="load"
      ns="global_costmap" />
    <rosparam file="$(arg move_base_config_dir)/costmap_common_params.yaml" command="load"
      ns="local_costmap" />
    <rosparam file="$(arg move_base_config_dir)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(arg move_base_config_dir)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(arg move_base_config_dir)/base_local_planner_params.yaml" command="load" />
  </node>

  <node name="four_omni_drive_controller" pkg="tsuten_navigation"
    type="four_omni_drive_controller">
    <param name="wheel_radius" value="$(arg wheel_radius)" />
    <param name="wheel_vels_topic" value="$(arg wheel_vels_topic)" />
  </node>

  <node name="odom_tf_publisher" pkg="tsuten_navigation" type="odom_tf_publisher" />
</launch>