<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="map_name" value="field_dual_table_only" />
  <arg name="map_file" value="$(find tsuten_navigation)/map/$(arg map_name)/$(arg map_name).yaml" />
  <arg name="config_dir" />

  <include file="$(find tsuten_description)/launch/spawn_robot.launch" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node name="move_base" pkg="move_base" type="move_base" output="screen" clear_params="true">
    <rosparam file="$(arg config_dir)/move_base/move_base_params.yaml" command="load" />
    <rosparam file="$(arg config_dir)/move_base/costmap_common_params.yaml"
      command="load"
      ns="global_costmap" />
    <rosparam file="$(arg config_dir)/move_base/costmap_common_params.yaml"
      command="load"
      ns="local_costmap" />
    <rosparam file="$(arg config_dir)/move_base/global_costmap_params.yaml"
      command="load" />
    <rosparam file="$(arg config_dir)/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(arg config_dir)/move_base/local_planner_params.yaml"
      command="load" />
  </node>

  <node name="odom_tf_publisher" pkg="tsuten_navigation" type="odom_tf_publisher" />
</launch>