<?xml version="1.0" encoding="UTF-8"?>
<robot name="tsuten" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tsuten_description)/urdf/lidar.urdf.xacro" />
  <xacro:include filename="$(find tsuten_description)/urdf/material.urdf.xacro" />
  <xacro:include filename="$(find tsuten_description)/urdf/omni_wheel.urdf.xacro" />
  <xacro:property name="body_size_x" value="503.0e-3" />
  <xacro:property name="body_size_y" value="503.0e-3" />
  <xacro:property name="body_size_z" value="564.0e-3" />
  <xacro:property name="body_joint_z" value="292.306e-3" />
  <xacro:property name="body_mass" value="29991.163e-3" />
  <xacro:property name="omni_wheel_x" value="355.8e-3" />
  <xacro:property name="omni_wheel_y" value="359.8e-3" />
  <xacro:property name="omni_wheel_z" value="-262.8e-3" />

  <link name="base_link" />
  <link name="body_link">
    <visual>
      <geometry>
        <box size="${body_size_x} ${body_size_y} ${body_size_z}" />
      </geometry>
      <material name="Black" />
    </visual>
    <collision>
      <geometry>
        <box size="${body_size_x} ${body_size_y} ${body_size_z}" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="${body_mass}" />
      <inertia ixx="${body_mass*(body_size_y**2+body_size_z**2)/12}" ixy="0" ixz="0"
        iyy="${body_mass*(body_size_z**2+body_size_x**2)/12}" iyz="0"
        izz="${body_mass*(body_size_x**2+body_size_y**2)/12}" />
    </inertial>
  </link>
  <joint name="body_joint" type="fixed">
    <origin xyz="0 0 ${body_joint_z}" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="base_link" />
    <child link="body_link" />
  </joint>

  <xacro:omni_wheel prefix="rf" parent="body_link">
    <origin xyz="${omni_wheel_x} ${omni_wheel_y} ${omni_wheel_z}"
      rpy="${radians(45)} ${radians(-90)} 0" />
  </xacro:omni_wheel>
  <xacro:omni_wheel prefix="lf" parent="body_link">
    <origin xyz="-${omni_wheel_x} ${omni_wheel_y} ${omni_wheel_z}"
      rpy="${radians(45)} ${radians(90)} 0" />
  </xacro:omni_wheel>
  <xacro:omni_wheel prefix="lb" parent="body_link">
    <origin xyz="-${omni_wheel_x} -${omni_wheel_y} ${omni_wheel_z}"
      rpy="${radians(-45)} ${radians(90)} 0" />
  </xacro:omni_wheel>
  <xacro:omni_wheel prefix="rb" parent="body_link">
    <origin xyz="${omni_wheel_x} -${omni_wheel_y} ${omni_wheel_z}"
      rpy="${radians(-45)} ${radians(-90)} 0" />
  </xacro:omni_wheel>

  <xacro:lidar parent="body_link">
    <origin xyz="0 349.5e-3 -171.5e-3" rpy="0 0 ${radians(90)}" />
  </xacro:lidar>

  <gazebo reference="body_link">
    <material>
      Gazebo/Black</material>
    <mu1 value="1" />
    <mu2 value="1" />
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" />
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <jointName>
        rf_wheel_joint,
        lf_wheel_joint,
        lb_wheel_joint,
        rb_wheel_joint,
        rf_front_barrel_1_joint,
        rf_front_barrel_2_joint,
        rf_front_barrel_3_joint,
        rf_front_barrel_4_joint,
        rf_back_barrel_1_joint,
        rf_back_barrel_2_joint,
        rf_back_barrel_3_joint,
        rf_back_barrel_4_joint,
        lf_front_barrel_1_joint,
        lf_front_barrel_2_joint,
        lf_front_barrel_3_joint,
        lf_front_barrel_4_joint,
        lf_back_barrel_1_joint,
        lf_back_barrel_2_joint,
        lf_back_barrel_3_joint,
        lf_back_barrel_4_joint,
        lb_front_barrel_1_joint,
        lb_front_barrel_2_joint,
        lb_front_barrel_3_joint,
        lb_front_barrel_4_joint,
        lb_back_barrel_1_joint,
        lb_back_barrel_2_joint,
        lb_back_barrel_3_joint,
        lb_back_barrel_4_joint,
        rb_front_barrel_1_joint,
        rb_front_barrel_2_joint,
        rb_front_barrel_3_joint,
        rb_front_barrel_4_joint,
        rb_back_barrel_1_joint,
        rb_back_barrel_2_joint,
        rb_back_barrel_3_joint,
        rb_back_barrel_4_joint
      </jointName>
      <updateRate>
        100.0</updateRate>
    </plugin>
    <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
      <frameName>map</frameName>
      <bodyName>base_link</bodyName>
      <topicName>odom</topicName>
      <updateRate>100.0</updateRate>
    </plugin>
  </gazebo>
</robot>