<?xml version="1.0" encoding="UTF-8"?>
<robot name="tsuten" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tsuten_description)/urdf/lidar.urdf.xacro" />
  <xacro:include filename="$(find tsuten_description)/urdf/material.urdf.xacro" />
  <xacro:property name="body_visual_mesh_path" value="$(find tsuten_description)/meshes/tsuten.stl" />
  <xacro:property name="body_collision_mesh_path"
    value="$(find tsuten_description)/meshes/tsuten_lq.stl" />
  <xacro:property name="body_mass" value="30.0" />
  <xacro:property name="body_inertia_box_x" value="800.0e-3" />
  <xacro:property name="body_inertia_box_y" value="800.0e-3" />
  <xacro:property name="body_inertia_box_z" value="100.0e-3" />

  <link name="base_link" />
  <link name="body_link">
    <visual>
      <geometry>
        <mesh filename="${body_visual_mesh_path}" />
      </geometry>
      <material name="Grey" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="${body_collision_mesh_path}" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-30.69e-3 -3.279e-3 -242.3e-3" />
      <mass value="${body_mass}" />
      <inertia ixx="${body_mass*(body_inertia_box_y**2+body_inertia_box_z**2)/12}" ixy="0" ixz="0"
        iyy="${body_mass*(body_inertia_box_x**2+body_inertia_box_z**2)/12}" iyz="0"
        izz="${body_mass*(body_inertia_box_x**2+body_inertia_box_y**2)/12}" />
    </inertial>
  </link>
  <joint name="body_joint" type="fixed">
    <origin xyz="30.69e-3 3.279e-3 292.3e-3" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="base_link" />
    <child link="body_link" />
  </joint>
  <xacro:lidar parent="body_link">
    <origin xyz="-30.69e-3 283.7e-3 -164.8e-3" rpy="0 0 ${radians(90)}" />
  </xacro:lidar>

  <gazebo reference="body_link">
    <material>Gazebo/Grey</material>
    <mu1 value="0" />
    <mu2 value="0" />
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
      <frameName>map</frameName>
      <bodyName>base_link</bodyName>
      <topicName>odom</topicName>
      <updateRate>100.0</updateRate>
    </plugin>
    <plugin name="chassis_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <cmdTimeout>-1</cmdTimeout>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>100.0</odometryRate>
      <robotBaseFrame>base_link</robotBaseFrame>
    </plugin>
  </gazebo>
</robot>