#!/usr/bin/env python3

from dynamic_reconfigure.parameter_generator_catkin import *

generator = ParameterGenerator()

generator.add("goal_distance_from_table", double_t, 0, "Distance between tables and goals", 0.6, 0.4, 1.0)

exit(generator.generate("tsuten_behavior", "behavior_server", "BehaviorServer"))